asn1crypto==0.24.0
configparser==3.5.0b2
cryptography==2.3
dj-database-url==0.5.0
Django==2.2.3
django-heroku==0.3.1
entrypoints==0.3
enum34==1.1.6
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
keyring==17.1.1
keyrings.alt==3.1.1
olefile==0.46
Pillow==9.0.1
psycopg2==2.8.3
pycrypto==2.6.1
